* {
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}

@keyframes fade-in {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.50;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
  }

@keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-20px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
  
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

header {
    display: block;
    height: 30vh;
}

.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/portfolio-hero-image.jpg");
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

#header-default {
    position: relative !important;
}

.container {
    padding: 0 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#header .container {
    padding-bottom: 20px;
}

.nav-container {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.description {
    color: white;
    float: left;
}

.logo {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.info {
    display: inline-block;
    vertical-align: middle;
}

.name {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

.title {
    margin: 0;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 300;
}

.checkpoints {
    float: right;
    margin-top: 8px;
}

.nav-bar {
    position: relative;
    z-index: 3;
    color: white;
}

.mobile-hide {
    display: none;
}

.hero {
    text-align: center;
    color: white;
    padding: 60px 0 130px;
    height: 70vh;
}

.hero-container {
    padding: 0 30px;
    margin: 0 auto;
    animation: fade-in 1s ease-in;
    width: 100%;
    text-align: center;
}

.hero-title {
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

.discover-container {
    position: absolute;
    bottom: 1vh;
    width: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.discover {
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.learn-more {
    margin-bottom: 10px;
}

.row-1 {
    height: 100%;
    padding-top: 0;
    text-align: center;
    background: #66ff33;
}

.row-2 {
    height: 100%;
    padding-top: 0;
    text-align: center;
    background: white;
}

.personal-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
}

.about-p, .contact-p {
    font-size: 16px;
}

li {
  color: #232323;
  transition: color 0.3s ease;
}

.desktop-hide
{
  display: block;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.desktop-hide input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

.desktop-hide span
{
  display: block;
  width: 34px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #66ff33;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.desktop-hide span:first-child
{
  transform-origin: 0% 0%;
}

.desktop-hide span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.desktop-hide input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}


.desktop-hide input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


.desktop-hide input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
    position: absolute;
    width: 270px;
    margin: -80px 0 0 -200px;
    padding: 50px;
    padding-top: 100px;
    background: #66ff33;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.nav-li {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0;
    font-size: 22px;
    cursor: pointer;
}

.nav-li-2 {
    display: inline-block;
}

.desktop-hide input:checked ~ ul {
  transform: none;
}

.technologies {
    padding: 0;
    text-align: center;
    margin: 25px 0 25px 0;
}

.technologies li {
    list-style: none;
    display: inline-block;
}

.technologies li img {
    height: 50px;
    width: 60px;
    padding: 0 5px;
    margin: 5px 0;
    vertical-align: middle;
}

.mocha-icon {
    height: 55px !important;
    width: 70px !important;
}

.a {
    padding-top: 50px;
}

.contact-me {
    display: block;
    width: 160px;
    margin: 40px auto 0 auto;
    text-decoration: none;
    color: #66ff33;
    border-radius: 1000px;
    padding: 15px;
    background-color: black;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    cursor: pointer;
}

.contact-me:hover {
    color: black;
    background-color: #66ff33;
    border-color: black;
    -webkit-box-shadow: inset 0 0 0 2px black;
    box-shadow: inset 0 0 0 2px black;
    cursor: pointer;
}

.contact-technologies {
    padding: 0;
    margin: 30px 0 0 0;
}

.contact-technologies li {
    list-style: none;
    display: inline-block;
}

.contact-technologies li img {
    vertical-align: middle;
}

.linkedin {
    height: 30px;
    width: 110px;
}

.github {
    height: 40px;
    width: 110px;
}

footer {
    background-color: #66ff33;
    padding: 40px 0 20px 0;
    text-align: center;
}

.link-container a {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.link-container a img {
    height: 50px;
    width: 50px;
}

.portfolio-piece {
    padding: 45px 0px 60px;
    display: block;
    border-bottom: 1px solid #cccccc;  
}

.portfolio-piece-title {
    font-size: 25px;
}

.portfolio-piece-description {
    font-size: 16px;
    color: #868686;
}

.portfolio-piece:last-child {
    border-bottom: none;
}

.portfolio-col img {
    height: 130px;
    width: 260px;
    margin: 0 auto 20px auto;
}

.nav-github-mark, .nav-linkedin, .nav-email {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 40px 8px 0 8px;

}

.menu li a {
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 520px) {
    .row-1, .row-2 {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 620px) {
    .row-1, .row-2 {
        padding: 0 50px;
    }
    
    .personal-photo {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 40px;
    }

    .discover-container {
        width: 400px;
    }

    .learn-more {
        font-size: 18px;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .checkpoints {
        margin-top: 0;
    }

    .nav-bar {
        display: inline-block;
    }

    .nav-li {
        font-size: 18px;
        display: table-cell; 
        position: relative;
    }

    .nav-li:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: -4px;
        content: "";
        display: block;
        height: 3px;
        border-radius: 2px;
        left: 50%;
        position: absolute;
        background: #66ff33;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .nav-li:hover:after { 
        width: 100%; 
        left: 0;
        bottom: -4px;
      }

    .mobile-hide ul {
        margin: 0;
        padding: 0;
    }

    .mobile-hide ul li {
        display: inline-block;
        color: white;
    }

    .nav-li {
        width: unset;
        margin-right: unset;
        margin-left: unset;
        font-size: 16px;
        padding: 0 32px 0;
    }

    html, body {
        overflow-x: unset;
    }


    #back-to-top {
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 9999;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px;
        background: none;
        color: black;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        text-decoration: none;
        transition: opacity 0.2s ease-out;
        transition: bottom 0.2s ease;
        opacity: 0;
    }

    #back-to-top:hover {
        bottom: 45px;
    }

    #back-to-top.show {
        opacity: 1;
    }

    #back-to-top.hide {
        display: none;
    }

    .portfolio-piece {
        padding: 45px 40px 45px;  
    }

    .portfolio-piece-title {
        font-size: 38px;
        font-weight: 800;
    }

    .portfolio-piece-description {
        font-size: 17px;
    }

    .portfolio-col img {
        height: 300px;
        width: 540px;
    }

    .about-h2 {
        font-size: 30px;
    }

    .about-p, .contact-p, footer {
        font-size: 20px;
    }

    .row-1 {
        padding: 20px 40px; 
    }

    .technologies {
        margin: 20px 0 50px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .name {
        font-size: 20px;
    }
    
    .title {
        font-size: 11px;
    }

    .hero-title {
        font-size: 52px;
    }

    .discover-container {
        width: 500px;
    }

    .learn-more {
        font-size: 26px;
    }

    .row-1 {
        padding: 60px 40px;
    }

    .row-2 {
        padding: 0;
    }

    .portfolio-piece {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .portfolio-col img {
        height: 250px;
        width: 430px;
        float: left;
    }

    .portfolio-piece-description {
        font-size: 16px;
    }

    .description-container {
        width: 51%;
        display: inline-block;
        height: 300px;
    }

    .portfolio-piece-title {
        margin-top: 0;
    }

    .nav-li {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1075px;
    }

    .portfolio-col img {
        height: 270px;
        width: 455px
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        width: 1100px;
    }

    .portfolio-col img {
        height: 280px;
        width: 470px;
    }
}